chars/**
extensions/**
workingdir/**
!chars/beispielchar1/**
!chars/beispielchar1
.vscode/
__pycache__/
settings.json
devfile.txt
portaudio
custom_audio.so
libportaudio.dll
custom_audio.dll
custom_audioa.so